/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
header,
footer,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
    vertical-align: top;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    text-wrap: balance;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}


input,
button,
textarea,
select {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

:root {
    --black: #121212;
    --white: #fafafa;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}

#root {
    max-width: 800px;
    margin: 0 auto;
}

#root.page-transition-exit {
    animation: fadeOut 0.2s ease-out forwards;
}

#root.page-transition-enter {
    animation: fadeIn 0.3s ease-in forwards;
}

card-component {
    animation: fadeInUp 0.3s ease-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}